/// Return...
/// @param {Number} $percent - ...
/// @param {Number} $prefix - ...
/// @group framework
/// @author Michael Ord
@function percent-to-readable
(
    $percent,
    $prefix:""
)
{
	$rounded-width			:floor($percent);
	$readable				:false;

	@if($rounded-width == 20%)
	{
		$readable			:#{$prefix}one-fifth;
	}

	@if($rounded-width == 25%)
	{
		$readable			:#{$prefix}one-quarter;
	}

	@if($rounded-width == 33%)
	{
		$readable			:#{$prefix}one-third;
	}

	@if($rounded-width == 40%)
	{
		$readable			:#{$prefix}two-fifths;
	}

	@if($rounded-width == 50%)
	{
		$readable			:#{$prefix}half;
	}

	@if($rounded-width == 60%)
	{
		$readable			:#{$prefix}three-fifth;
	}

	@if($rounded-width == 66%)
	{
		$readable			:#{$prefix}two-thirds;
	}

	@if($rounded-width == 75%)
	{
		$readable			:#{$prefix}three-quarters;
	}

	@if($rounded-width == 80%)
	{
		$readable			:#{$prefix}four-fifths;
	}

	@if($rounded-width == 100%)
	{
		$readable			:#{$prefix}full;
	}

	@return $readable;
}
